<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

</head>

<body style="padding:0; margin:0; font-family:arial; text-align:justify;">
  <!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->

  <table id="backgroundTable" style=
  "margin: 0px; padding: 0px; width: 100% !important; border-collapse: collapse; background:#111A81 url('/local/reminders/templates/blue/images/wallpaper.jpg')no-repeat center top;"
  border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td valign="top">
          <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->

          <table style="width: 620px; border-collapse: collapse;" border="0" cellspacing=
          "0" cellpadding="0" align="center">
            <tbody>
              <tr>
                <td colspan="3" height="20">&nbsp;</td>
              </tr>

              <tr>
                <td dir="ltr" colspan="3">
                  <p style="text-align: center;"><a href="/"><img style=
                  "display: block; margin: 0px auto 5px; outline: none; text-decoration: initial;"
                  src=
                  "/local/reminders/templates/blue/images/logo.png"
                  alt="LOGO" width="202" height="117" border="0" /></a></p>
                </td>
              </tr>

              <tr>
                <td style=
                "background-image: url('/local/reminders/templates/blue/template/top-corners.png');"
                colspan="3" height="19">&nbsp;</td>
              </tr>

              <tr>
                <td style=
                "background-image: url('/local/reminders/templates/blue/template/left-shadow.png');"
                width="10">&nbsp;</td>

                <td style="background: #FFF;">
                  <table id="content_table" style="border-collapse: collapse; background:#fff;" border="0"
                  cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="padding: 20px 30px;">
                          <p style=
                          "color: #111A81; font-size: 24px; margin: 0px 0px 1em;">Hi
                          [[firstname]],</p>

                          <p style=
                          "color: #5e5e5e; margin: 1em 0px 0px; font-size: 16px; line-height: 1.5;">
                          This is a reminder that your webinar is coming up soon!</p>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 0px 30px;">
                          <table style="border-collapse: collapse;" border="0"
                          cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr style="background-color: #dcedf4;" valign="top">
                                <td style="padding: 15px;">
                                  <h1 style=
                                  "font-size: 18px; font-weight: normal; line-height: 1.5; color: #5e5e5e !important;">
                                  [[name]]</h1>

                                  <p style=
                                  "font-size: 14px; margin: 1em 0px; line-height: 1.5; color: #5e5e5e !important;">
                                  [[date]]<br />
                                  [[timezone]]</p>

                                  <p style=
                                  "font-size: 14px; margin: 1em 0px; line-height: 1.5; color: #5e5e5e !important;">
                                  This event is scheduled to last [[mins]].</p>

                                  <table style="width: 100%; margin-top:35px;" border="0" cellspacing="0"
                                  cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td style="padding-bottom: 6px;"><a style=
                                        "display: block;" title="View Course Details"
                                        href=
                                        "/[[urlx]]"
                                        target="_blank"><img style=
                                        "outline: none; text-decoration: initial; border: none;"
                                        src=
                                        "/local/reminders/templates/blue/images/button1.png"
                                        alt="View Course Details" /></a></td>
                                      </tr>

                                      <tr>
                                        <td style="padding-bottom: 6px;"><a style="display: block;" title=
                                        "Add This Event to Outlook" href=
                                        "/[[ievent]]"
                                        target="_blank"><img style=
                                        "outline: none; text-decoration: initial; border: none;"
                                        src=
                                        "/local/reminders/templates/blue/images/button2.png"
                                        alt="Add This Event to Outlook" /></a></td>
                                      </tr>
									  
                                      <tr>
                                        <td style="padding-bottom: 6px;">										<a  href=
                                          "/[[meeting]]"
                                          target="_blank"><img style=
                                          "display: block; outline: none; text-decoration: initial; border: none;"
                                          src=
                                          "/local/reminders/templates/blue/images/button3.png"
                                          alt="Join This Webinar" /></a></td>
                                      </tr>
									  
									  
									  
									  

									  
									  
									  
                                    </tbody>
                                  </table>
                                </td>

                                <td style="" align="center" valign="top"
                                width="220"><img style="display: block;" src=
                                "/local/reminders/templates/blue/images/course.jpg"
                                alt="CanSIA" /></td>
                              </tr>

                              <tr style="background-color: #add1db;" valign="top">
                                <td style="padding: 15px;">
                                  <p style=
                                  "font-size: 14px; line-height: 1.5; font-style: italic; margin: 0px !important; color: #5e5e5e !important;">
                                  Lorem itsu dabo mamu fali panzer, asta mon the tuest event schedule.</p>
                                </td>

                                <td style="padding: 15px;" align="center">
									<p>
										Loran opats bagain!
									</p>
								</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 16px 30px 0px;">
                          <h2 style=
                          "font-size: 24px; font-weight: normal; border-top-width: 1px; border-top-style: solid; border-top-color: #eeede9; padding-top: 10px; color: #111A81 !important; margin: 0px !important;">
                          Course Detail</h2>

                          <p style=
                          "margin: 1em 0px; line-height: 1.5; font-size: 16px; color: #5e5e5e !important;">
                          <strong>Lorem itus dabo smith</strong>, 
						  
						  Nunc eu imperdiet nisl. Praesent id erat odio. Nam viverra lacinia lacus, a hendrerit orci 
						  tincidunt ac. In suscipit urna ut mauris vestibulum luctus non sed eros. Sed tempus commodo
						  arcu, id pretium lorem faucibus at. Fusce condimentum mauris at tortor sagittis sodales. Aliquam 
						  purus tellus, semper eget iaculis sed, mollis eget est. Nulla ullamcorper, magna ut hendrerit 
						  fermentum, ante quam eleifend leo, eget vulputate orci massa et elit. Mauris varius justo lectus, 
						  eu vestibulum purus. Quisque dui neque, consequat non consequat a, blandit vel 
						  
						  </p>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 16px 30px 0px;">
                          <h2 style=
                          "font-size: 24px; font-weight: normal; border-top-width: 1px; border-top-style: solid; border-top-color: #eeede9; padding-top: 10px; color: #111A81 !important; margin: 0px !important;">
                          Login Instructions</h2>

                          <p style=
                          "margin: 1em 0px; line-height: 1.5; font-size: 16px; color: #5e5e5e !important;">
                          <strong>On the day of the webinar</strong>, log in 20 minutes
                          ahead of time so that you can sort out in advance any technical
                          difficulties.</p>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 0px 30px;">
                          <table style="border-collapse: collapse;" border="0"
                          cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr valign="top">
                                <td width="260">
                                  <table style="border-collapse: collapse;" border="0"
                                  cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr style="background-color: #dcdace;">
                                        <td style="padding: 15px;">
                                          <img style=
                                          "display: block; margin-right: 5px; padding-top: 3px; outline: none; text-decoration: initial;"
                                          src=
                                          "/local/reminders/templates/blue/images/video-icon.gif"
                                          alt="" align="left" />

                                          <h3 style=
                                          "font-size: 16px; color: #5e5e5e; font-weight: normal; margin: 0px !important;">
                                          Computer</h3>
                                        </td>
                                      </tr>

                                      <tr style="background-color: #edece1;">
                                        <td style="padding: 15px 15px 0px;" valign="top"
                                        height="320">
                                          <p style=
                                          "font-size: 14px; margin: 0px 0px 1em; line-height: 1.5; color: #5e5e5e !important;">
                                          Use the button below to join the webinar on
                                          [[date]]:</p>

                                          <p>

                                          <p style=
                                          "font-size: 14px; margin: 1em 0px; line-height: 1.5; color: #5e5e5e !important;">
                                          Or visit <br />
										  <a href=
                                          "/[[urlx]]">[[urlx]]</a></p>

                                          <p style=
                                          "font-size: 14px; margin: 1em 0px; line-height: 1.5; color: #5e5e5e !important;">
                                          On the day of the webinar, please log on by web
                                          at least 20 minutes ahead.
                                          A&nbsp;&ldquo;webinar basics&rdquo;
                                          introduction will begin ten minutes before the
                                          start of the webinar.</p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>

                                <td width="10">&nbsp;</td>

                                <td>
                                  <table style="border-collapse: collapse;" border="0"
                                  cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr style="background-color: #dcdace;">
                                        <td style="padding: 15px;">
                                          <img style=
                                          "display: block; margin-right: 5px; padding-top: 3px; outline: none; text-decoration: initial;"
                                          src=
                                          "/local/reminders/templates/blue/images/phone-icon.gif" 
                                          alt="" align="left" />

                                          <h3 style=
                                          "font-size: 16px; color: #5e5e5e; font-weight: normal; margin: 0px !important;">
                                          Phone (optional)</h3>
                                        </td>
                                      </tr>

                                      <tr style="background-color: #edece1;">
                                        <td style="padding: 15px 15px 0px;" valign="top"
                                        height="320">
                                          <p style=
                                          "font-size: 14px; margin: 0px 0px 1em; line-height: 1.5; color: #5e5e5e !important;">
                                          Webinar participants have the option of hearing
                                          sound for the webinar through their computer
                                          speakers (rather than the telephone). If you
                                          try this and it works well for you, there is no
                                          need to phone in. However, if at any time you
                                          would prefer to have the webinar&rsquo;s sound
                                          come over your telephone, call in using this
                                          number:</p>

                                          <p style=
                                          "font-size: 18px; line-height: 1.5; font-weight: bold; color: #111A81; text-align: center;">
                                          1-800-715-7777</p>

                                          <p style=
                                          "font-size: 14px; line-height: 1.5; text-align: center; color: #5e5e5e !important; margin: 0px 0px 1em !important;">
                                          Bridge: <strong>123456</strong></p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 16px 30px 0px;">
                          <h2 style=
                          "font-size: 24px; font-weight: normal; border-top-width: 1px; border-top-style: solid; border-top-color: #eeede9; padding-top: 10px; color: #111A81 !important; margin: 0px !important;">
                          Another Title</h2>

                          <p style=
                          "margin: 1em 0px; font-size: 16px; line-height: 1.5; color: #5e5e5e !important;">
                          At in, ultrices id diam. Nunc varius sem sit amet ligula rutrum ac sodales sem luctus. 
						  Aenean turpis turpis, dapibus nec cursus ullamcorper, mattis tincidunt elit. Duis quam 
						  libero, ultrices hendrerit consequat id, pharetra quis mauris. Aenean id magna orci, in 
						  condime

                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 0px 30px;">
                          <p style=
                          "border-top-width: 1px; border-top-style: solid; border-top-color: #eeede9; padding-top: 16px; font-size: 24px; line-height: 1.5; color: #111A81 !important; text-align:center; font-weight:bold;">
                          Enjoy your webinar!</p>

                          <p style=
                          "border-top-width: 1px; border-top-style: solid; border-top-color: #eeede9; padding-top: 16px; font-size: 16px; line-height: 1.5; color: #5e5e5e !important;">
                          John Snow<br />
                          President, CEO<br />
                          E-Learning Division<br />
                          Refined Data Solutions<br />
                          <a style="color: #008fc5;" href=
                          "mailto:John.Snow@MyCompany.com" target=
                          "_blank">John.Snow@MyCompany.com</a><br />
                          1-800-715-7777 x301</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td style=
                "background-image: url('/local/reminders/templates/blue/template/right-shadow.png');"
                width="10">&nbsp;</td>
              </tr>

              <tr>
                <td style=
                "background-image: url('/local/reminders/templates/blue/template/bottom-corners.png');"
                colspan="3" height="19">&nbsp;</td>
              </tr>

              <tr>
                <td colspan="3">
                  <p style=
                  "margin: 1em 0px; font-size: 12px; line-height: 1.5; text-align: center; color: #FFF !important;">
                  Copyright &copy; 2013 YOUR COMPANY HERE. All Rights Reserved.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- End of wrapper table -->
</body>
</html>
