<div bgcolor="#f5f4f3" width="100%" style="margin: 0;">
    <table bgcolor="#f5f4f3" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;">
        <tbody>
        <tr>
            <td valign="top">
                <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;font-family: sans-serif;">
                    [[description]]
                </div>
                <table align="center" width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 40px 0; text-align: center">
                            <img src="https://rd-public.s3.amazonaws.com/images/logo.png" width="200" height="44"
                                 alt="Refined Data Solutions Logo" border="0">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="border: 1px solid #dddddd; margin: 0 5%" width="90%" cellspacing="0" cellpadding="0"
                       align="center" bgcolor="#ffffff">
                    <tbody>

                    <tr>
                        <td style="padding: 30px 20px 40px 20px; text-align: left; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                            <strong>About RefinedData:</strong><br><br>
                            Founded in 2006, RefinedData has rapidly become a worldwide leader in enterprise grade
                            Training Software that organizations use to realize their full potential. The company has
                            partnered with Adobe to deliver state-of-the art synchronous and asynchronous e-Learning
                            Solutions to leading corporate, institutional and government sector clients.
                            <br><br>
                            <a style="color:#29a9e1" href="http://refineddata.com">Find out more</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <table align="center" width="100%">
                    <tbody>
                    <tr>
                        <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #888888;">
                            Refined Data Solutions<br><span>88B East Beaver Creek Rd . Unit 4 . Richmond Hill . Ontario . L4B 4W2 . Canada</span><br><span><a
                                style="color:#29a9e1; text-decoration:none;"
                                href="tel:18776436439">1-877-643-6439</a></span>
                            <br></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>